---
import { Image } from "astro:assets";
import imgimages_gii_solution_img_6_webp from "../../../public/images/gii_solution_img_6.webp";
---

<div class="test mx-auto">
  <div
    class="flex flex-wrap flex-col flg:flex-nowrap lg:flex-row gap-10 items-center w-full">
    <div class="order-2 lg:order-1 lg:w-auto">
      <Image
        alt="Image illustrating the certification for responsible digital practices"
        src={imgimages_gii_solution_img_6_webp}
        width="400"
        height="300"
        class="my-auto max-w-screen-md:flex self-center mx-auto lg:w-[376px]"
        loading="lazy"
        aria-label="Image related to obtaining the responsible digital certification"
      />
    </div>
    <div
      class="flex flex-col flex-1 shrink justify-center items-center self-stretch p-10 my-auto rounded-xl lg:rounded-3xl basis-0 bg-[#283E52] min-w-[240px] max-md:px-5 max-md:max-w-full order-1 lg:order-2">
      <div
        class="flex flex-nowrap gap-2.5 items-center self-stretch w-full max-md:max-w-full">
        <h4
          
          
          class="flex-shrink-0 self-stretch my-auto lg:text-7xl font-medium whitespace-nowrap lg:w-[72px] text-left text-4xl text-white"
          aria-label="Step number: 6">
          6.
        </h4><div
          
          
          class="text-[28px] self-stretch my-auto font-semibold leading-10 flex-1 max-md:max-w-full text-white"
          aria-label="Step Title: Obtenez la labellisation Numérique Responsable !"
        >

          Obtenez la labellisation Numérique Responsable !
        </div>
      </div><div
        class="mt-10 text-white flex flex-col gap-8 lg:gap-10">
        <div
          
          
          class="text-lg lg:test l leading-8 text-white"
          aria-label="Detail text for Step Six">
          Obtenez le seul label européen pour le numérique
          responsable afin de confirmer, démontrer et certifier
          la pertinence des actions mises en œuvre, et d&#x27;en
          être concrètement récompensé !
        </div>
      </div>
    </div>
  </div><div
    class="flex flex-col justify-center pt-10 mt-2.5 test l w-full items-center">
    <p
      
      
      class="leading-8 lg:leading-10 text-left lg:text-center text-white test l w-full h-auto"
      aria-label="Call to action for Step Six">
      Vous souhaitez agir pour un numérique responsable et
      obtenir des résultats tangibles ?
    </p><div
      class="max-md:mt-10 max-md:max-w-full mt-12 flex min-h-[50px] w-full flex-col items-center justify-center test l font-semibold leading-snug text-lime-500">
      <button
        
        
        class="max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md border border-solid border-lime-500 bg-lime-500 bg-opacity-0 hover:bg-opacity-100 transition-all hover:text-white px-12 py-2.5"
        aria-label="Contact button for responsible digital actions"
        >Contactez-nous</button>
    </div>
  </div>
</div>