---
import Seo from "../components/Seo.astro";
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import ImpactPhylosophy from "../layouts/concept/ImpactPhylosophy.astro";
import MaterializeAndAct from "../layouts/concept/MaterializeAndAct.astro";
import GreenItImpact from "../layouts/concept/GreenItImpact.astro";

---

<html lang="en">
  <head>
    <Seo
      seo={{
        title: "Concept - Green It Impact",
        description: "Green IT Impact : des solutions concrètes pour améliorer l'empreinte environnementale des services numériques, avec une approche pragmatique et progressive",
        keywords: "",
        canonical: "https://gii-1739185640811.ecobuilder.io/",
        image: "https://gii-1739185640811.ecobuilder.io/images/gii_logo_seo.webp",
        type: "website",
        themeColor: "#ffffff",
      }}
    />
    <meta charset="utf-8" />
   <link
  rel="icon"
  type="image/x-icon"
  href="/favicons/gii_logo_seo.ico"
/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Concept - Green It Impact</title>
  </head>
    <MainLayout>
      <div>
        <Breadcrumb mainPage="ACCUEIL" subPage="CONCEPT" mainLink="/" subLink="/concept" />
      </div>
      <section
        class="main-component flex flex-col gap-10"
        aria-label="Green IT Impact Section">
     
          <ImpactPhylosophy/>
        <div class="   max-xl:px-4 ">
          <MaterializeAndAct/>
        </div>
       
     <GreenItImpact/>
      </section>
    </MainLayout>
</html>
