---
import Seo from "../components/Seo.astro";
import { Image } from "astro:assets";
import imgimages_gii_logo_webp from "../../public/images/gii_logo.webp";
import imgimages_menu_bar_webp from "../../public/images/menu-bar.webp";
import imgimages_chevron_right_webp from "../../public/images/chevron-right.webp";
import imgimages_gaiact_linkedin_icon2_webp from "../../public/images/gaiact_linkedin_icon2.webp";
import imgimages_gaiact_instagram_icon_webp from "../../public/images/gaiact_instagram_icon.webp";
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
---

<html lang="en">
  <head>
    <script>
      import { showToast } from "../components/toast";
      (() => {
        const els = [...document.querySelectorAll("form")];
        if (!els?.length) return;
        els.forEach((el) => {
          el.addEventListener("submit", async (e:any) => {
            e.preventDefault();
            
            const submitButton = e.target.querySelector("button[type='submit']");
            submitButton.disabled = true;
            submitButton.innerText = "Envoi en cours...";
            const formData = new FormData(e.target);
            const formObject = Object.fromEntries(formData);
            formObject.emailUser = "contact@green-web.fr";
    
            try {
              const response = await fetch("https://app.ecobuilder.io/api/send-mail-contact", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(formObject),
              });
    
              if (!response.ok) throw new Error("Network response was not ok");
    
              const result = await response.json();
              showToast("Form submitted successfully!");
    
              e.target.reset();
            } catch (error) {
              console.error("Error submitting form:", error);
              showToast("Error submitting form", "error");
            }
    
            submitButton.disabled = false;
            submitButton.innerText = "Envoyer";
          });
        });
      })();
    </script>
    
   
    <Seo
      seo={{
        title: "Contact - Green It Impact",
        description: "Contactez Green IT Impact : obtenez des conseils personnalisés pour adopter une stratégie numérique durable et éthique, adaptée à vos besoins.",
        keywords: "",
        canonical: "https://gii-1739185640811.ecobuilder.io/",
        image: "https://gii-1739185640811.ecobuilder.io/images/gii_logo_seo.webp",
        type: "website",
        themeColor: "#ffffff",
      }}
    />
    <meta charset="utf-8" />
   <link
  rel="icon"
  type="image/x-icon"
  href="/favicons/gii_logo_seo.ico"
/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Contact - Green It Impact</title>
  </head>
  <MainLayout>
 
    <section
      class="main-component flex flex-col overflow-hidden bg-[#243544] text-white">
      <div class="   max-xl:px-4  max-md:max-w-full flex w-full flex-col justify-center test container mx-auto">
        <Breadcrumb
        mainPage="accueil"
        subPage="contact"
        mainLink="/"
        subLink="/contact"
      />
      </div>
    
      
      <div
        class="max-md:px-5 max-md:max-w-full px-4 py-10 sm:px-6 lg:px-8">
        <div class="mx-auto test container ">
          <div
            class="flex flex-col flex-wrap w-full justify-center gap-8 lg:gap-14">
            <h1
              
              
            class="hidden"
           >
            Contact
          </h1>
          
            <h2
              
              
              class="lg:text-[54px] leading-[2.5rem] font-semibold text-center text-white text-4xl"
             >
              Une info, une démo ? Contactez-nous !
            </h2>
           
            <div
              
              
              class="mt-0 text-2xl leading-5 text-center text-white max-md:max-w-full"
             >
              Veuillez compléter tous les champs.
            </div>
          </div><form as="form" aria-labelledby="contactGiiFormTitle">
            <div
              class="max-md:mt-10 mx-auto mt-14 flex w-full max-w-full flex-col justify-center self-center lg:max-w-screen-lg"
              role="form"
              aria-label="Contact Form">
              <div
                class="max-md:max-w-full flex flex-row flex-wrap items-start w-full justify-center md:gap-4 lg:gap-6">
                <div
                  class="mt-6 flex min-w-[240px] flex-1 shrink basis-0 flex-col items-start">
                  <label
                    
                    
                    class="test container l font-medium leading-none text-white"
                    >Prénom</label
                  ><input
                    name="firstName"
                    placeholder="Entrez votre prénom"
                    autoComplete="given-name"
                    required=""
                    class="mt-2 w-full flex-1 shrink gap-2 overflow-hidden rounded-md border border-solid border-zinc-300 bg-[#283E52] px-4 py-3 text-base text-neutral-400"
                  />
                </div><div
                  class="mt-6 flex min-w-[240px] flex-1 shrink basis-0 flex-col items-start">
                  <label
                    
                    
                    class="test container l font-medium leading-none text-white"
                    >Nom</label
                  ><input
                    name="lastName"
                    placeholder="Entrez votre nom"
                    autoComplete="family-name"
                    required=""
                    class="mt-2 w-full flex-1 shrink gap-2 overflow-hidden rounded-md border border-solid border-zinc-300 bg-[#283E52] px-4 py-3 text-base text-neutral-400"
                  />
                </div>
              </div><div
                class="mt-6 flex min-w-[240px] flex-1 shrink basis-0 flex-col items-start">
                <label
                  
                  
                  class="test container l font-medium leading-none text-white"
                  >Adresse e-mail</label
                ><input
                  name="email"
                  placeholder="Entrez votre adresse e-mail"
                  autoComplete="email"
                  required=""
                  class="mt-2 w-full flex-1 shrink gap-2 overflow-hidden rounded-md border border-solid border-zinc-300 bg-[#283E52] px-4 py-3 text-base text-neutral-400"
                />
              </div><div
                class="mt-6 flex min-w-[240px] flex-1 shrink basis-0 flex-col items-start">
                <label
                  
                  
                  class="test container l font-medium leading-none text-white"
                  >Société</label
                ><input
                  name="company"
                  placeholder="Entrez votre société"
                  autoComplete="organization"
                  class="mt-2 w-full flex-1 shrink gap-2 overflow-hidden rounded-md border border-solid border-zinc-300 bg-[#283E52] px-4 py-3 text-base text-neutral-400"
                />
              </div><div
                class="max-md:max-w-full mt-6 flex w-full flex-col items-start">
                <label
                  
                  
                  class="test container l font-medium leading-none text-white"
                  >Message</label
                ><textarea
                  placeholder="Entrez votre message"
                  rows="5"
                  name="message"
                  required=""
                  class="mt-2 min-h-[144px] w-full flex-1 shrink gap-2 overflow-hidden rounded-md border border-solid border-zinc-300 bg-[#283E52] px-4 pb-28 pt-3 text-base text-neutral-400"
                ></textarea>
              </div><div
                class="max-md:max-w-full mt-6 flex w-full flex-wrap items-center gap-1.5 text-sm leading-none text-zinc-400">
                <div class="my-auto flex items-center gap-2 self-stretch">
                  <input type="checkbox" name="privacyCheckbox" /><label
                    
                    
                    for="privacyCheckbox"
                    class="leading-snug lg:leading-none"
                    >En cochant cette case, j’accepte la politique de
                    confidentialité</label>
                </div>
              </div><div
                class="pb-16 text-center flex flex-row justify-center mt-10 lg:mt-12"
                role="presentation">
                <button
                  
                  
                  type="submit"
                  class="max-md:px-5 inline-flex min-h-[50px] w-[90%] flex-col items-center justify-center gap-2.5 overflow-hidden rounded-md bg-lime-500 px-12 py-2.5 text-[14px] font-semibold leading-snug text-gray-900 transition-all md:w-auto md:min-w-[400px] md:text-base lg:test container l"
                  aria-label="Submit Contact Form">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </MainLayout>

</html>
