---
import StrategySection from "./StrategySection.astro";
import StatsSection from "./StatsSection.astro";
import KeyPerformance from "./KeyPerformance.astro";
import Testimonials from "./Testimonials.astro";
import Testimonials1 from "./Testimonials1.astro";
import WhyChooseUs from "./WhyChooseUs.astro";
---

<section class="w-full main-component bg-[#243544]" aria-labelledby="main component">
   <section class="   max-xl:px-4   flex w-full flex-col justify-center container mx-auto gap-10">
    <WhyChooseUs/>
    <StrategySection/>
    <KeyPerformance/>
   </section>
   <section class="flex flex-col gap-10">
    <StatsSection/>
    <Testimonials1/>
  <Testimonials/>
   </section>
    
</section>
