---
import StrategySection from "./StrategySection.astro";
import StatsSection from "./StatsSection.astro";
import KeyPerformance from "./KeyPerformance.astro";
import Testimonials from "./Testimonials.astro";
import Testimonials1 from "./Testimonials1.astro";
import WhyChooseUs from "./WhyChooseUs.astro";
---

<section class="main-component bg-[#243544]" aria-labelledby="main component">
   <section class="px-4 lg:px-20 max-md:max-w-full flex w-full flex-col justify-center max-w-screen-2xl mx-auto gap-10">
    <WhyChooseUs/>
    <StrategySection/>
    <KeyPerformance/>
   </section>
   <section class="flex flex-col gap-10">
    <StatsSection/>
    <Testimonials1/>
  <Testimonials/>
   </section>
    
</section>
