---
import { Image } from "astro:assets";
import imgimages_gii_banner_arrow_right_webp from "../../../public/images/gii_banner_arrow_right.webp";
import imgimages_1739172258787_Web_1920___1_1_webp from "../../../public/images/gii_hero_pic.webp";
---

<section
  class="px-4 lg:px-20 w-full grid grid-cols-1 xl:grid-cols-2 font-semibold text-white max-w-screen-2xl py-16 mx-auto gap-6"
  aria-label="Hero Dark Section Wrapper lg:h-576[px]">
  <div
    class="flex lg:min-h-[440px] max-w-full flex-col items-start gap-12 z-20"
    aria-label="Left Content of Hero Dark Section">
    <h1
      
      
      class="max-md:max-w-full text-4xl self-stretch lg:text-[54px] leading-snug font-bold flex flex-col items-start gap-4 drop-shadow-2xl"
      aria-label="Main title for Hero Dark Section">
      <span
        
        
        class="w-full"
        aria-label="Main title part 1"
        >Agissez pour un Numérique plus
      </span><span
        
        
        class="text-lime-400 w-full"
        aria-label="Main title part 2">éthique et soutenable</span
      >
    </h1>
    <nav
      class="max-md:max-w-full flex flex-wrap items-center gap-1 md:gap-4 lg:gap-9 text-xl md:text-2xl"
      aria-label="Hero Dark Navigation">
      <span
        
        
        class="my-auto self-stretch"
        aria-label="Navigation Item 1: Évaluez">Évaluez</span
      >
      <Image
        alt="arrowRightIcon"
        src={imgimages_gii_banner_arrow_right_webp}
        width="400"
        height="300"
        class="my-auto aspect-[1.1] w-[40px] lg:w-[54px] shrink-0 self-stretch object-contain"
        aria-label="Right arrow icon for navigation"
      /><span
        
        
        class="my-auto self-stretch"
        aria-label="Navigation Item 2: Activez">Activez</span
      >
      <Image
        alt="arrowRightIcon"
        src={imgimages_gii_banner_arrow_right_webp}
        width="400"
        height="300"
        class="my-auto aspect-[1.08] w-[40px] lg:w-[54px] shrink-0 self-stretch object-contain"
        aria-label="Right arrow icon for navigation"
      /><span
        
        
        class="my-auto self-stretch"
        aria-label="Navigation Item 3: Améliorez">Améliorez</span
      >
    </nav>
    <a
      href="/contact"
      
      
      class="mt-0 overflow-hidden rounded-md bg-lime-500 px-12 py-2.5 text-[14px] md:text-base lg:text-xl leading-snug text-slate-800 md:ml-0 md:mr-0 lg:w-auto"
      aria-label="Button to reserve a demo">Réserver une démo</a
    >
  </div>
  <div
    class="lg:min-w-[715px] lg:h-[550px] w-full relative lg:absolute right-0 flex justify-end z-0">
    <Image
      alt="Banner right image"
      src={imgimages_1739172258787_Web_1920___1_1_webp}
      width="667"
      height="576"
      class="object-contain w-full lg:w-auto lg:absolute h-full"
      aria-label="Right side image of the Hero Dark Banner"
    />
  </div>
</section>
