---
import { Image } from "astro:assets";
---

<section class="text-white flex flex-col justify-center w-full py-12 gap-12">
  <p class="text-[28px] text-start">
    Avec des indicateurs clés de performances... 
  </p>
  <div class=" flex justify-center w-full mx-auto">
    <Image alt="Act dashboard image" src="/images/gii_act_dashboard.webp" width="891" height="442"/>
  </div>
</section>