<div
class="w-full flex flex-col px-12  lg:px-32  py-16  mx-auto items-center gap-4 bg-slate-700">
<h2
  width="auto"
  height="auto"
  class="max-md:max-w-full flex w-full flex-col justify-center text-center text-[26px] leading-snug lg:text-4xl font-semibold lg:leading-none text-white"
  aria-level="2"
  aria-labelledby="statsTitle">
  Green It Impact, c&#x27;est surtout :
</h2>
<div
  class="max-md:mt-10 max-md:max-w-full mt-12 flex min-h-[204px] w-full flex-wrap items-start gap-10 text-center">
  <article
    class="flex lg:min-h-[204px] lg:w-[314px] lg:min-w-[240px] shrink grow flex-col rounded-3xl border border-solid border-white px-5 py-6 shadow-[0px_4px_16px_rgba(0,0,0,0.08)] items-center"
    aria-labelledby="statCard0">
    <h3
      width="auto"
      height="auto"
      class="self-center text-2xl font-medium text-lime-400"
      aria-level="3">
      100%
    </h3>
    <p
      width="auto"
      height="auto"
      class="mt-0 text-xl leading-8 text-white"
      aria-describedby="statDescription0"
      cssResizer="!flex-shrink mt-2.5">
      des impacts sont mesurés et suivis en temps réel grâce à un
      algorithme qui combine l&#x27;Analyse du Cycle de Vie (ACV) et le
      flux dynamique.
    </p>
  </article>
  <article
    class="flex lg:min-h-[204px] lg:w-[314px] lg:min-w-[240px] shrink grow flex-col rounded-3xl border border-solid border-white px-5 py-6 shadow-[0px_4px_16px_rgba(0,0,0,0.08)] items-center"
    aria-labelledby="statCard1">
    <h3
      width="auto"
      height="auto"
      class="self-center text-2xl font-medium text-lime-400"
      aria-level="3">
      + de 30%
    </h3>
    <p
      width="auto"
      height="auto"
      class="mt-0 text-xl leading-8 text-white"
      aria-describedby="statDescription1"
      cssResizer="!flex-shrink mt-2.5">
      amélioration de l&#x27;impact environnemental grâce au déploiement
      d&#x27;un plan d&#x27;action discursif, temporel et personnalisé.
    </p>
  </article>
  <article
    class="flex lg:min-h-[204px] lg:w-[314px] lg:min-w-[240px] shrink grow flex-col rounded-3xl border border-solid border-white px-5 py-6 shadow-[0px_4px_16px_rgba(0,0,0,0.08)] items-center"
    aria-labelledby="statCard2">
    <h3
      width="auto"
      height="auto"
      class="self-center text-2xl font-medium text-lime-400"
      aria-level="3">
      100%
    </h3>
    <p
      width="auto"
      height="auto"
      class="mt-0 text-xl leading-8 text-white"
      aria-describedby="statDescription2"
      cssResizer="!flex-shrink mt-2.5">
      des collaborateurs proactifs grâce à notre système de gamification
      collaboratif, éducatif et récurrent.
    </p>
  </article>
</div>
<div
  class="max-md:mt-10 max-md:max-w-full mt-12 flex w-full flex-wrap items-start gap-10 text-center">
  <article
    class="flex min-h-[204px] w-[314px] min-w-[240px] shrink grow flex-col items-center text-center rounded-3xl border border-solid border-white px-5 py-6 shadow-[0px_4px_16px_rgba(0,0,0,0.08)]"
    aria-labelledby="statCard3">
    <h3
      width="auto"
      height="auto"
      class="self-center text-2xl font-medium text-lime-400"
      aria-level="3">
      80%
    </h3>
    <p
      width="auto"
      height="auto"
      class="mt-0 text-xl leading-8 text-white"
      aria-describedby="statDescription3"
      cssResizer="!flex-shrink mt-2.5">
      d&#x27;influence sur vos parties prenantes (clients, fournisseurs,
      etc.).
    </p>
  </article>
  <article
    class="flex min-h-[204px] w-[314px] min-w-[240px] shrink grow flex-col items-center text-center rounded-3xl border border-solid border-white px-5 py-6 shadow-[0px_4px_16px_rgba(0,0,0,0.08)]"
    aria-labelledby="statCard4">
    <h3
      width="auto"
      height="auto"
      class="self-center text-2xl font-medium text-lime-400"
      aria-level="3">
      30%
    </h3>
    <p
      width="auto"
      height="auto"
      class="mt-0 text-xl leading-8 text-white"
      aria-describedby="statDescription4"
      cssResizer="!flex-shrink mt-2.5">
      c&#x27;est l&#x27;économie budgétaire sur plus de 2 ans.
    </p>
  </article>
  <article
    class="flex min-h-[204px] w-[314px] min-w-[240px] shrink grow flex-col items-center text-center rounded-3xl border border-solid border-white px-5 py-6 shadow-[0px_4px_16px_rgba(0,0,0,0.08)]"
    aria-labelledby="statCard5">
    <h3
      width="auto"
      height="auto"
      class="self-center text-2xl font-medium text-lime-400"
      aria-level="3">
      ++
    </h3>
    <p
      width="auto"
      height="auto"
      class="mt-0 text-xl leading-8 text-white"
      aria-describedby="statDescription5"
      cssResizer="!flex-shrink mt-2.5">
      c&#x27;est l&#x27;amélioration de votre image de marque.
    </p>
  </article>
</div>
<p
  width="auto"
  height="auto"
  class="max-md:max-w-full mt-12 mb-12 self-start text-center text-xl leading-10 text-white"
  aria-describedby="statsFooterText"
  cssResizer="!flex-shrink mt-12 max-md:mt-10">
  Nos experts vous accompagnent dans la mise en place de votre
  stratégie, qui est éthique, équitable, écologique et porteuse de
  valeurs responsables, et qui vous permettra d&#x27;atteindre vos
  objectifs de développement durable.
</p>
<div class="text-center">
  <button
    width="auto"
    height="auto"
    class="max-md:mt-0 mt-0 min-h-[50px] flex-col items-center justify-center text-[14px] md:text-base lg:text-xl font-semibold leading-snug text-lime-500 max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md border border-solid border-lime-500 bg-lime-500 bg-opacity-0 hover:bg-opacity-100 transition-all hover:text-white px-12 py-2.5 lg:w-auto w-full"
    aria-label="Réserver une démo"
    cssResizer="!flex-shrink mt-12 max-md:mt-10"
    >Réserver une démo</button
  >
</div>
</div>