---
import { Image } from "astro:assets";
import gii_choose_1 from "../../../public/images/gii_choose_1.svg";
import gii_choose_2 from "../../../public/images/gii_choose_2.svg";
import gii_choose_3 from "../../../public/images/gii_choose_3.svg";

---
<div class="py-16 px-5 lg:px-8 text-white flex flex-col items-center gap-8">
  <p class="text-[36px]">
    Ils ont choisi Green It Impact pour améliorer leur impact... 
  </p>
  <div class="flex lg:flex-row flex-col items-center justify-center lg:gap-8">
    <Image
      alt="Image for Écologique strategy"
      src={gii_choose_1}
      width="300"
      height="176"
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
    <Image
      alt="Image for Écologique strategy"
      src={gii_choose_2}
      width="300"
      height="176"
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
    <Image
      alt="Image for Écologique strategy"
      src={gii_choose_3}
      width="300"
      height="176"
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
  </div>
    <div class="flex flex-col items-center gap-4">
    <p>Et bien d’autres... Entreprises, collectivités, ou consultants NR</p>
    <p>
      Découvrez la solution : <span class="text-[#A6D21F]"
        >Green It Impact.
      </span>
    </p>
  </div>
  <button
  width="auto"
  height="auto"
  class="max-md:mt-0 mt-0 min-h-[50px] flex-col items-center justify-center text-[14px] md:text-base lg:text-xl font-semibold leading-snug  max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md border border-solid border-lime-500 bg-lime-500 text-black hover:bg-opacity-100 transition-all hover:text-white px-12 py-2.5 w-[100%] lg:w-auto"
  aria-labelledby="testimonialButton"
  ><a href="/contact">
    Contactez-nous pour en savoir plus
    </a></button>

</div>