<div
  class="max-md:max-w-full flex w-full flex-col justify-center container mx-auto "
  aria-labelledby="whyChooseUsTitle">
  <h2
    
    
    class="max-md:max-w-full min-h-[40px] w-full flex-1 shrink gap-2.5 self-stretch text-[26px] leading-snug lg:text-4xl font-semibold lg:leading-none text-white"
    aria-label="Title: Pourquoi Green It Impact?">
    Pourquoi Green It Impact ?
  </h2>
  <div
    class="max-md:px-5 max-md:mt-10 max-md:max-w-full mt-14 flex w-full flex-col justify-center overflow-hidden rounded-3xl bg-[#283E52] p-12 container  leading-10 text-white"
    aria-labelledby="whyChooseUsTitle">
    <div class="text-white text-[20px] leading-relaxed">
      <p class="mb-4">
        Au-delà d'une solution « SaaS », Green IT Impact est une méthodologie
        phygitale innovante qui permet aux entreprises et aux collectivités
        d'améliorer efficacement leur empreinte environnementale liée au
        numérique de façon ludique, pragmatique et progressive.
      </p>
      <p class="font-bold mt-4">
        Green It Impact est fait pour vous si vous êtes déterminés à :
      </p>
      <ul class="list-disc list-inside mt-2">
        <li>
          Réduire l'impact de votre Système d'information ou de vos services
          numériques
        </li>
        <li>
          Réduire vos coûts de fonctionnement IT (Mais aussi DSI, marketing,
          Communication, R&D) et Évaluer les gains financiers.
        </li>
        <li>
          Définir une feuille de route Numérique Responsable concrète et
          quantifiable que vous pourrez suivre à la loupe grâce à des
          indicateurs clés sur toutes les actions
        </li>
        <li>Évaluer votre maturité et état d'avancement en temps réel</li>
        <li>
          Impliquer et monter en compétences vos collaborateurs et parties
          prenantes dans vos démarches RSE
        </li>
        <li>
          Réaliser des mesures d'empreinte de type Bilan carbone ou Analyse de
          Cycle de vie.
        </li>
      </ul>
    </div>
  </div>
</div>
