<section class="flex flex-col gap-8 pt-12 w-full">
  <div class="flex flex-col gap-16 w-full " aria-label="Philosophy Wrapper">
    <div class=" container  mx-auto    max-xl:px-4 " aria-label="Top Section">
      <div class="max-w-screen-2xl mx-auto flex flex-col items-center gap-12" aria-label="Philosophy  container ">
        <h4
          class="text-[26px] lg:leading-none lg:text-[2.25rem] lg:text-left self-stretch mb-0 lg:!my-auto max-md:max-w-full text-white"
          aria-label="Green IT Impact Title">
          Green IT Impact est avant tout une approche axée sur la performance
          pour les entreprises et les collectivités :
        </h4>
      </div>
    </div>
  </div>

  <div class="bg-[#283E52] py-[19px]" aria-label="Green IT Impact Body ">
    <div class="flex flex-col gap-8 items-start     max-xl:px-4    container  mx-auto" aria-label="Body  container ">
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 1">
        <h4 class="text-xl lg:text-2xl font-semibold leading-8 text-lime-500"
          aria-label="La performance environnementale">
          La performance environnementale
        </h4>
        <div class=" leading-7 text-white ml-3" aria-label="Description for La performance environnementale">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            <div class="relative w-2 h-2 rounded-full bg-white flex-shrink-0 mr-2 top-1.5 lg:top-0" aria-hidden="true">
            </div>
            <p class="leading-7 text-white text-lg lg:text-xl"
              aria-label="Améliorez votre performance environnementale en réduisant concrètement votre empreinte.">
              Améliorez votre performance environnementale en réduisant
              concrètement votre empreinte.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 2">
        <h4 class="text-xl lg:text-2xl font-semibold leading-8 text-lime-500" aria-label="La performance économique">
          La performance économique
        </h4>
        <div class="leading-7 text-white ml-3" aria-label="Description for La performance économique">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            <div class="relative w-2 h-2 rounded-full bg-white flex-shrink-0 mr-2 top-1.5 lg:top-0" aria-hidden="true">
            </div>
            <p class="leading-7 text-white text-lg lg:text-xl"
              aria-label="Réalisez des économies sur le budget des systèmes d'information en adoptant des pratiques engageantes qui génèrent de la durabilité.">
              Réalisez des économies sur le budget des systèmes
              d&#x27;information en adoptant des pratiques engageantes qui
              génèrent de la durabilité.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 3">
        <h4 class="text-xl lg:text-2xl font-semibold leading-8 text-lime-500" aria-label="La performance technique">
          La performance technique
        </h4>
        <div class="leading-7 text-white ml-3" aria-label="Description for La performance technique">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            <div class="relative w-2 h-2 rounded-full bg-white flex-shrink-0 mr-2 top-1.5 lg:top-0" aria-hidden="true">
            </div>
            <p class="leading-7 text-white text-lg lg:text-xl"
              aria-label="Augmentez la performance technique de votre SI et de vos services numériques par une approche de « faire mieux avec moins ».">
              Augmentez la performance technique de votre SI et de vos services
              numériques par une approche de « faire mieux avec moins ».
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 4">
        <h4 class="text-xl lg:text-2xl font-semibold leading-8 text-lime-500" aria-label="La performance sociétale">
          La performance sociétale
        </h4>
        <div class="leading-7 text-white ml-3" aria-label="Description for La performance sociétale">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            <div class="relative w-2 h-2 rounded-full bg-white flex-shrink-0 mr-2 top-1.5 lg:top-0" aria-hidden="true">
            </div>
            <p class="leading-7 text-white text-lg lg:text-xl" aria-label="Impliquez, éduquez et mettez au défi l’ensemble de
              l’écosystème interne et externe de votre entreprise ou
              collectivité."> Impliquez, éduquez et mettez au défi l’ensemble de
              l’écosystème interne et externe de votre entreprise ou
              collectivité.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center pb-12 mt-6 flex justify-center  px-4" aria-label="Button  container ">
    <button
      class="w-full max-md:mt-0 mt-0 min-h-[50px] flex-col items-center justify-center text-[14px] md:text-base lg:text-xl font-semibold leading-snug text-gray-900 max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md bg-lime-500 transition-all px-12 py-2.5 lg:w-[437px] lg:h-[53px]"
      aria-label="Learn More About Green IT Impact Button">En savoir plus sur Green It Impact</button>
  </div>
</section>