<section
class="main-component flex w-full flex-col justify-center bg-[#243544]"
aria-label="Impact Philosophy Section">

<div
  class="flex flex-col gap-16"
  aria-label="Philosophy Wrapper">
  <div
    class="max-md:max-w-full    max-xl:px-4   container  mx-auto"
    aria-label="Top Section">
    <div
      class="test  container  mx-auto flex flex-col items-center gap-12"
      aria-label="Philosophy  container ">
      <h1
        class="text-center font-bold text-4xl lg:text-[54px] text-white   lg:pt-[108px] lg:pb-[52px]"
        aria-label="Concept and Philosophy Title"
       >
       Concept & Philosophie
      </h1>
      
      <p
        
        
        class="text-left lg:text-justify text-white container  "
        aria-label="Philosophy Description">
        Green IT Impact est le fruit de nombreuses années
        d&#x27;expérimentations, d&#x27;études, de tests,
        d&#x27;analyses et d&#x27;approbations de solutions
        concrètes et applicables pour aider nos clients à améliorer
        efficacement leur impact environnemental lié au système
        d&#x27;information et aux services numériques.
      </p>
    </div>
  </div>
  <div
    class="bg-[#283E52] border-t border-b border-white text-center p-4 flex"
    aria-label="Methodology Section">
    <div
      class="text-white px-4 sm:px-6 xl:px-20 md:px-12 container  mx-auto text-center"
      aria-label="Methodology Inner Content">
      <p
        
        aria-label="Methodology Description">
        Notre méthodologie apporte des résultats concrets.
      </p>
    </div>
  </div>
  <div
    class="   max-xl:px-4  max-md:max-w-full pb-16  container  mx-auto"
    aria-label="Philosophy Details  container ">
    <div
      class="flex flex-col gap-8 container mx-auto"
      aria-label="Details Content">
      <p
        
        
        class="text-left lg:text-justify text-white text-lg"
        aria-label="Detail impactPhilosophyDetail1"
       >
        Ce ne sont pas les mesures ou un tableau Excel avec des
        recommandations qui font bouger les lignes, qui apportent
        des résultats, qui portent le changement, les évolutions,
        les progrès...
      </p><p
        
        
        class="text-left lg:text-justify text-white text-lg"
        aria-label="Detail impactPhilosophyDetail2"
       >
        Non, ce qui fait la différence sur les résultats obtenus,
        c’est <span class="text-[#8EB907]">
          l’art et la manière de déployer la vision, le projet
        et les actions</span> associées au sein de l’ensemble de
        l’écosystème de l’entreprise, tant interne qu’externe.
      </p><p
        
        
        class="text-left lg:text-justify text-white text-lg"
        aria-label="Detail impactPhilosophyDetail3"
       >
        Ce sont des actions précises, pilotées avec pertinence,
        combinées à un déploiement opérationnel engageant auprès des
        collaborateurs et des parties prenantes qui produisent les
        progrès graduellement.
      </p>
    </div>
  </div>
</div>
</section>