<section
class="main-component flex overflow-hidden flex-col text-white bg-slate-800"
aria-label="Materialize and Act Section">
<div
  class="max-md:max-w-full"
  aria-label="Materialize and Act Wrapper">
  <div
    class="max-w-screen-2xl mx-auto flex flex-col lg:gap-0 md:gap-0 gap-10"
    aria-label="Materialize and Act Container">
    <div
      class="flex flex-col md:flex-row lg:flex-row flex-wrap justify-between lg:flex-nowrap gap-5 items-center w-full text-[26px] leading-snug text-4xl font-semibold lg:leading-none text-white max-md:max-w-full lg:w-[90%]"
      aria-label="Header Section">
      <h4
        width="243px"
        height="47px"
        class="text-center lg:text-left grow shrink self-stretch my-auto max-md:max-w-full lg:w-[243px] lg:h-[47px] mb-2"
        aria-label="Title: Materialize and Act">
        Matérialiser et Agir !
      </h4>
    </div><div
      class="flex overflow-hidden flex-col items-start p-10 gap-[30px] w-full text-xl leading-7 rounded-xl lg:rounded-3xl bg-slate-700 max-md:px-5 max-md:max-w-full"
      aria-label="Body Content">
      <p
        width="auto"
        height="auto"
        class="lg:leading-10 text-white text-lg lg:text-xl w-full h-auto"
        aria-label="Text Content 1">
        Alors oui, l’outil Green IT Impact permet de mesurer votre
        empreinte, comme beaucoup d’autres solutions, mais prendre la
        température pour comprendre ne suffit pas.
      </p><p
        width="auto"
        height="auto"
        class="font-semibold text-lg lg:text-xl w-full h-auto"
        aria-label="Text Content 2">
        L’essentiel, c’est d’agir. C’est de mettre en place. C’est
        d’être dans l’action. Et pas n’importe comment.
      </p><p
        width="auto"
        height="auto"
        class="font-semibold text-lime-500 text-lg lg:text-xl w-full h-auto"
        aria-label="Highlighted Text Content">
        « Le réel, c’est le mot ! »
      </p><p
        width="auto"
        height="auto"
        class="font-semibold lg:leading-8 text-white text-lg lg:text-xl w-full h-auto"
        aria-label="Text Content 4">
        Pour corriger le numérique, ce monde de l’invisible, il faut
        le matérialiser…
      </p><p
        width="auto"
        height="auto"
        class="lg:leading-10 text-lg lg:text-xl w-full h-auto"
        aria-label="Text Content 5">
        C’est pour rendre visible et palpable un monde qui ne l’est
        pas, et qui passe sous les radars des humains, que nous avons
        gamifié la démarche, à travers des jeux, parfois de cartes,
        parfois par des challenges collaboratifs, qui matérialisent
        les enjeux et humanisent, c’est-à-dire redéfinissent à portée
        d’humains, la feuille de route à suivre…
      </p><div
        class="text-center self-center"
        aria-label="Footer Section">
        <button
          width="auto"
          height="auto"
          class="min-h-[50px] flex-col items-center justify-center w-full text-[14px] md:text-base lg:text-xl font-semibold leading-snug text-lime-500 max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md border border-solid border-lime-500 bg-lime-500 bg-opacity-0 hover:bg-opacity-100 transition-all hover:text-white px-12 py-2.5 lg:w-auto"
          aria-label="Button: Book a Demo">Réserver une démo</button>
      </div>
    </div>
  </div>
</div>
</section>