---
import { Image } from "astro:assets";
import gii_digital_technology_img_1_svg from "../../../public/images/gii_digital_technology_img_1.svg";
---

<div class="max-md:max-w-full py-16" aria-label="Current day section wrapper">
  <div class="test  container  mx-auto" aria-label="Current day  container ">
    <div
      class="flex flex-wrap lg:justify-between flex-col flg:flex-nowrap lg:flex-row gap-10 items-center w-full whitespace-nowrap text-4xl font-semibold leading-none"
      aria-label="Current day title  container ">
      <h2
        class="w-full lg:w-auto flex-shrink-0 lg:!my-auto self-stretch text-white text-center lg:text-left"
        >
        Aujourd&#x27;hui,
      </h2>
      <Image
        alt="Image representing digital technology"
        src={gii_digital_technology_img_1_svg}
        width="400"
        height="300"
        class="max-w-screen-md:flex self-center my-auto  lg:w-[500px]"
      />
    </div><section
      class="max-md:max-w-full mt-10"
      aria-label="Current day content section">
      <p   class="text-lg lg:test  container   text-white">
        Le numérique représente, à travers l’ensemble de son cycle de vie, de la fabrication à la commercialisation, en passant par l’usage et la fin de vie, une source indubitable de pollution, qui s’accumule au fur et à mesure que l’innovation technologique introduit de nouvelles générations d’appareils.
      </p>
    </section><section
      class="mt-10 flex w-full flex-col gap-10 justify-center rounded-xl lg:rounded-3xl bg-[#283E52] p-5 lg:p-10"
      aria-label="Current day statistics section">
      <p
        
        
        class="text-lg lg:test  container   text-white leading-7">
        Chaque année, les marques dévoilent leurs nouveaux modèles, et chaque année, les consommateurs renouvellent les leurs. Pendant ce temps, les déchets s’amoncellent : en 2022, ils représentaient 62 millions de tonnes, soit l’équivalent du chargement de 1,55 million de poids lourds.
      </p><p
        
        
        class="text-lg lg:test  container   text-white leading-7">
        Le recyclage en traite moins de 10 %. En parallèle de l’empreinte colossale due à l’accumulation liée à la fabrication et au manque de débouchés pour les appareils en fin de vie, leur usage consomme presque 15 % de la production d’électricité mondiale, produite majoritairement grâce à des énergies fossiles.
      </p>
    </section>
  </div>
</div>
