<div class="w-full">
  <div
class="max-md:max-w-full pb-40 px-4  lg:px-0 container mx-auto"
aria-label="Digital growth section wrapper">
<div
  class="test  container  mx-auto flex flex-col lg:gap-[142px] gap-20"
  aria-label="Digital growth  container ">
  <div
    class="flex flex-col text-white"
    aria-label="Digital growth title wrapper">
    <h1
      
      
      class="w-full lg:pt-[93px] lg:pr-[80px] lg:pb-[40px] lg:pl-[80px]
 self-start text-center text-4xl font-semibold leading-snug lg:text-[54px]">
      Nos usages numériques ont littéralement explosé
    </h1>
  </div>
  <div
    class="max-md:max-w-full flex flex-col w-full justify-center gap-10 rounded-lg lg:rounded-3xl bg-[#283E52] container  leading-10 p-6 lg:p-12"
    aria-label="Digital growth content wrapper">
    <p
      
      
      class="text-white text-lg lg:test  container   w-full">
      Nos usages numériques, devenus omniprésents ces deux dernières
      décennies, ont transformé une technologie binaire en une source
      majeure de pollution tout au long de son cycle de vie, de la
      fabrication à l&#x27;usage jusqu&#x27;à la fin de vie des
      appareils.
    </p><p
      
      
      class="text-white text-lg lg:test  container   w-full">
      Il ne s&#x27;agit plus seulement d&#x27;envoyer des emails : ce
      sont désormais de multiples façons d&#x27;exploiter la puissance
      d&#x27;une technologie à la fois binaire et ambivalente.
    </p><p
      
      
      class="text-white text-lg lg:test  container   w-full">
      C&#x27;est le constat actuel du numérique : on lui attribue
      toutes les vertus dans un monde invisible où l&#x27;on produit
      des octets dans les nuages…
    </p><p
      
      
      class="text-white text-lg lg:test  container   w-full">
      La réalité, elle, est bien tangible, sur terre et sous la terre,
      fondée sur une exploitation excessive de ressources abiotiques
      et énergétiques, produites loin de nos yeux, avec des publicités
      qui en vantent les avantages techniques tout en dénigrant la
      valeur sociale.
    </p>
  </div>
</div>
</div>
<section
class="lex flex-col justify-center border-b border-t border-white text-center leading-10 text-white bg-[#283E52] mb-16"
aria-label="Digital growth footer">
<p
  
  
  class="self-stretch text-lg lg:test  container   mx-auto w-full py-6">
  Le numérique responsable est le développement durable appliqué au numérique, transformant ainsi les enjeux en leviers d&#x27;action.
</p>
</section>
</div>