---
import { Image } from "astro:assets";
import gii_digital_technology_img_4_svg from "../../../public/images/gii_digital_technology_img_4.svg";
import gii_digital_technology_img_5_svg from "../../../public/images/gii_digital_technology_img_5.svg";
import gii_digital_technology_img_6_svg from "../../../public/images/gii_digital_technology_img_6.svg";
import gii_digital_technology_img_7_svg from "../../../public/images/gii_digital_technology_img_7.svg";
---

<section class="main-component flex flex-col bg-[#243544]" aria-labelledby="digitalStrategyTitle">
  <section class="main-component flex flex-col bg-[#243544]" aria-labelledby="digitalResponsibilityTitle">
    <div class="max-md:max-w-full py-0 lg:py-16" aria-label="Digital Responsibility Title Wrapper">
      <div class="max-w-screen-2xl mx-auto" aria-label="Digital Responsibility Title Container">
        <h1  
          class="w-full self-stretch text-center text-[26px] leading-snug lg:text-4xl font-semibold lg:leading-none text-white">
          Le numérique responsable a différents champs d&#x27;action
        </h1>
      </div>
    </div>
    <div
      class=" my-16 flex w-full flex-col justify-center py-6 text-white px-4 sm:px-6 lg:px-8 max-md:px-5 max-md:max-w-full bg-[#283E52] border border-t border-b border-solid border-white"
      aria-label="Digital Responsibility Introduction">
      <p
        class="w-full gap-2.5 self-stretch max-w-screen-2xl mx-auto text-center text-lg lg:text-xl font-semibold leading-snug lg:leading-none">
        En se focalisant notamment sur la véritable valeur ajoutée des services
        numériques.
      </p>
    </div>
    <div class="max-md:px-5 max-md:max-w-full px-4 sm:px-6 lg:px-8" aria-label="Digital Responsibility Main Section">
      <div class="mx-auto max-w-screen-2xl" aria-label="Digital Responsibility Main Container">
        <div class="mx-auto w-full xl:max-w-screen-lg" aria-label="Digital Responsibility Grid">
          <div class="block flex-wrap justify-between md:flex">
            <div
              class="px-5 flex mb-6 w-full flex-col items-center justify-center rounded-2xl bg-[#283E52] p-4 md:flex md:w-[calc(35%_-_10px)]"
              aria-label="GREEN for IT Container">
              <h4   class="text-center text-2xl font-semibold text-white w">
                Le GREEN for IT
              </h4>
              <div class="flex items-center justify-center py-12">
                <div class="ml-2 flex w-1/2  flex-col items-end justify-center gap-1 text-white">
                  <Image alt="GREEN for IT" src={gii_digital_technology_img_4_svg} width="400" height="300"
                    class="md:w-full lg:w-auto" />
                </div>
                <div class="h-full ml-2 flex  flex-col justify-between gap-1 text-white">
                  <p  >EFUSER</p>
                  <p  >
                    ÉDUIRE
                  </p>
                  <p  >ÉUTILISER</p>
                  <p  >
                    ÉPARER
                  </p>
                  <p  >ECYCLER</p>
                </div>
              </div>
            </div>
            <div
              class="px-5 mb-6 flex w-full flex-col items-center gap-12 rounded-2xl bg-[#283E52] p-4 md:w-[calc(65%_-_10px)] ">
              <h4   class="text-center text-2xl font-semibold text-white">
                Le IT for GREEN
              </h4>
              <Image alt="IT for GREEN" src={gii_digital_technology_img_5_svg} width="400" height="300"
                class="w-full" />
            </div>
            <div class="px-5 mb-6 flex w-full flex-col items-center rounded-2xl bg-[#283E52] p-4 md:w-[calc(65%_-_10px)]">
              <h4   class="text-center text-2xl font-semibold text-white">
                Le IT for HUMAN
              </h4>
              <div class="flex lg:flex-row-reverse items-center lg:gap-24 gap-10 py-12 flex-col">
                <Image alt="IT for HUMAN" src={gii_digital_technology_img_6_svg} width="400" height="300"
                  class="" />
                <div class="  flex flex-col items-start gap-4 text-white">
                  <p  >
                    Accès à l&#x27;information pour les personnes en situation
                    de handicap
                  </p>
                  <p  >Aider à la santé</p>
                  <p  >
                    Créer de l&#x27;emploi
                  </p>
                </div>
              </div>
            </div>
            <div
              class="px-5 mb-6 flex w-full flex-col items-center gap-12 rounded-2xl bg-[#283E52] p-4 md:w-[calc(35%_-_10px)]">
              <h4   class="text-center text-2xl font-semibold text-white">
                Le HUMAN for IT
              </h4>
              <div class="flex flex-col-reverse md:flex-col">
                <div class="ml-2 flex flex-col items-start justify-between h-full gap-1 text-white ">
                  <p  >Droits des êtres humains</p>
                  <p  >
                    Conditions de travail
                  </p>
                  <p  >Droits du travail</p>
                  <p  >
                    Impacts sociaux
                  </p>
                </div>
                <Image alt="HUMAN for IT" src={gii_digital_technology_img_7_svg} width="400" height="300"
                  class="w-full" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="max-md:mt-10 max-md:max-w-full mt-12 flex min-h-[50px] w-full flex-col items-center justify-center text-xl font-semibold leading-snug text-lime-500 pb-16"
      aria-label="Learn More Section">
      <button  
        class="max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md border border-solid border-lime-500 bg-lime-500 bg-opacity-0 hover:bg-opacity-100 transition-all hover:text-white px-12 py-2.5"
        aria-label="Learn More Button">En savoir plus</button>
    </div>
  </section>
  <div class="px-4 lg:px-20 max-md:max-w-full pt-16" aria-label="Digital Strategy Wrapper">
    <div class="max-w-screen-2xl mx-auto" aria-label="Digital Strategy Container">
      <div class="flex flex-col text-white" aria-label="Digital Strategy Title Wrapper">
        <h1  
          class="w-full self-stretch text-left lg:text-center text-[26px] leading-snug lg:text-4xl font-semibold lg:leading-none text-white"
          aria-label="Digital Strategy Title">
          Déployer une stratégie Numérique Responsable
        </h1>
      </div>
      <div
        class="max-md:max-w-full mt-16 flex flex-col w-full justify-center gap-10 rounded-2xl bg-[#283E52] lg:p-10 p-5 text-xl leading-10"
        aria-label="Digital Strategy Content Wrapper">
        <p   class="text-white text-lg lg:text-xl w-full"
          aria-label="Digital Strategy Intro Text">
          Déployer une stratégie Numérique Responsable pour les entreprises et
          les collectivités est un projet collaboratif, à la fois progressif et
          progressiste.
        </p>
      </div>
      <div class="max-md:max-w-full mt-16 flex flex-col w-full gap-10 text-lg lg:text-xl leading-10 items-start"
        aria-label="Digital Strategy Sub Content Wrapper">
        <p   class="text-white text-lg lg:text-xl" aria-label="Digital Strategy Sub Text 1">
          Avec la méthodologie Green IT Impact de Green WEB, concepteur de l’IT
          for ReGen (la technologie au service de la régénération du vivant),
          nos experts vous accompagnent du diagnostic jusqu’à l’obtention de
          résultats concrets (ou remboursés).
        </p>
        <p   class="text-white text-lg lg:text-xl" aria-label="Digital Strategy Sub Text 2">
          Oui, nous nous engageons sur les résultats obtenus !
        </p>
      </div>
    </div>
    <div class="mt-4 md:mt-12 flex flex-col md:flex-row items-center justify-center gap-5 w-[90%] mx-auto md:w-full"
      aria-label="Digital Strategy Button Group">
      <div
        class="flex min-h-[50px] flex-col items-center justify-center text-base md:text-xl font-semibold leading-snug w-auto"
        aria-label="Contact Us Button Group">
      </div>
      <div
        class="flex min-h-[50px] flex-col items-center justify-center text-base md:text-xl font-semibold leading-snug text-lime-500 w-auto"
        aria-label="Reserve Demo Button Group">
      </div>
    </div>
  </div>
</section>