<div class="max-md:max-w-full py-20 bg-[#283E52]" aria-label="Wrapper for key features section">
  <div class="test mx-auto" aria-label="Container for key features">
    <section class="flex flex-col" aria-label="Main section of key features">
      <h2   class="w-full text-center text-4xl font-semibold leading-none text-white mb-0"
        aria-label="Title for key features section">
        Quelques chiffres :
      </h2>
      <div
        class="px-12 lg:px-[120px] flex flex-wrap mt-0 leading-8 justify-center text-center min-h-[131px] xl:mx-auto"
        aria-label="Grid container for key features">
        <div class="w-full lg:w-[33%] px-3 mx-auto lg:mx-0 mt-10" aria-label="Key feature item 1">
          <div class="p-4 rounded-2xl border border-white border-solid text-center h-full flex flex-col items-center"
            aria-label="Key feature grid item 1">
            <p   class="leading-7 text-lg lg:test l font-semibold text-lime-500"
              aria-label="Value for key feature item 1">
              158 000
            </p>
            <p   class="leading-7 text-lg lg:test l text-white"
              aria-label="Description for key feature item 1">
              C&#x27;est le nombre de piscines que les data centers américains
              consomment en eau par an.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-[33%] px-3 mx-auto lg:mx-0 mt-10" aria-label="Key feature item 2">
          <div class="p-4 rounded-2xl border border-white border-solid text-center h-full flex flex-col items-center"
            aria-label="Key feature grid item 2">
            <p   class="leading-7 text-lg lg:test l font-semibold text-lime-500"
              aria-label="Value for key feature item 2">
              3ème
            </p>
            <p   class="leading-7 text-lg lg:test l text-white"
              aria-label="Description for key feature item 2">
              Amélioration de l&#x27;impact environnemental grâce au déploiement
              d&#x27;un plan d&#x27;action discursif, temporel et personnalisé.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-[33%] px-3 mx-auto lg:mx-0 mt-10" aria-label="Key feature item 3">
          <div class="p-4 rounded-2xl border border-white border-solid text-center h-full flex flex-col items-center"
            aria-label="Key feature grid item 3">
            <p   class="leading-7 text-lg lg:test l font-semibold text-lime-500"
              aria-label="Value for key feature item 3">
              4%
            </p>
            <p   class="leading-7 text-lg lg:test l text-white"
              aria-label="Description for key feature item 3">
              Des gaz à effet de serre sont liés au numérique, probablement 12%
              en 2030.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-[33%] px-3 mx-auto lg:mx-0 mt-10" aria-label="Key feature item 4">
          <div class="p-4 rounded-2xl border border-white border-solid text-center h-full flex flex-col items-center"
            aria-label="Key feature grid item 4">
            <p   class="leading-7 text-lg lg:test l font-semibold text-lime-500"
              aria-label="Value for key feature item 4">
              14 000 km
            </p>
            <p   class="leading-7 text-lg lg:test l text-white"
              aria-label="Description for key feature item 4">
              En voiture, c&#x27;est ce que représente 1 an d&#x27;utilisation
              d&#x27;internet par un particulier (équivalent).
            </p>
          </div>
        </div>
        <div class="w-full lg:w-[33%] px-3 mx-auto lg:mx-0 mt-10" aria-label="Key feature item 5">
          <div class="p-4 rounded-2xl border border-white border-solid text-center h-full flex flex-col items-center"
            aria-label="Key feature grid item 5">
            <p   class="leading-7 text-lg lg:test l font-semibold text-lime-500"
              aria-label="Value for key feature item 5">
              1 journée
            </p>
            <p   class="leading-7 text-lg lg:test l text-white"
              aria-label="Description for key feature item 5">
              De télétravail de 8h correspond à 29 km parcourus en voiture, 1
              douche (9 packs de 6 litres d&#x27;eau), 15 g de déchets
              électroniques.
            </p>
          </div>
        </div>
      </div>
      <div class="px-12 lg:px-[120px]  w-auto mt-16 test l leading-10 text-white flex flex-col items-start"
        aria-label="Consequence of key features">
        <h3 width="237px" height="42px" class="lg:text-3xl text-2xl leading-snug font-semibold lg:w-[237px] lg:h-[42px]"
          aria-label="Title for consequence section">
          La conséquence :
        </h3>
        <p   class="text-lg lg:test l"
          aria-label="Description of the consequence of key features">
          Nos usages actuels du numérique ont un effet direct sur le dépassement
          des limites planétaires. Et ce constat ne concerne pas que les impacts
          environnementaux. Il faut y ajouter ceux d&#x27;origine économique,
          sociale, et politique…
        </p>
      </div>
      <p   class="mt-12 w-full px-12 text-center text-lg lg:test l leading-10 text-white"
        aria-label="Call to action text for the key features section">
        Oui, il faut agir. Une partie de la réponse s&#x27;articule autour de la
        notion de Numérique Responsable.
      </p>
      <div
        class="max-md:mt-10 max-md:max-w-full mt-12 flex min-h-[50px] w-full flex-col items-center justify-center test l font-semibold leading-snug text-lime-500"
        aria-label="Contact us button container">
        <button  
          class="max-md:px-5 inline-flex max-w-full gap-2.5 overflow-hidden rounded-md border border-solid border-lime-500 bg-lime-500 bg-opacity-0 hover:bg-opacity-100 transition-all hover:text-white px-12 py-2.5"
          aria-label="Contact us button">
        <a href="/contact">
          Contactez-nous
          </a></button>

      </div>
    </section>
  </div>
</div>